@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.main__add-btn {
  margin: 0 auto;
  display: block;
  width: 50px;
  height: 50px;
  background-color: aquamarine;
  border-radius: 50%;
  border: none;
}

.container {
  width: 100%;
  height: 92%;
  position: relative;
}

.memo {
  position: absolute;
  resize: both;
  min-width: 500px;
  min-height: 300px;
  border: 1px solid #000;
  box-sizing: border-box;
}
.memo__container {
  height: 100%;
}
.memo__container--option {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 5px 0;
  opacity: 0;
  transition: all 0.3s;
}
.memo__container--option:hover {
  opacity: 1;
}
.memo__header {
  background: #fff;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  height: 50px;
}
.memo__btn > button {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}
.memo__body {
  height: calc(100% - 51px);
}
.memo__text {
  resize: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  background-color: bisque;
}
.memo__extend {
  position: absolute;
  margin: -15px;
  bottom: 0px;
  right: 0px;
  border-radius: 50%;
  cursor: nw-resize;
  width: 30px;
  height: 30px;
  background-color: black;
  opacity: 0;
  transition: all 0.3s;
  z-index: 1;
}
.memo__extend:hover {
  opacity: 1;
}
.memo__extend.show {
  opacity: 1;
}
.memo__font {
  position: relative;
}
.memo__font .font-btn {
  width: 130px;
  background: #fff;
  border: 1px solid #000;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.memo__font .font-btn::after {
  content: "▲";
  display: inline-block;
}
.memo__font .drop-menu {
  position: absolute;
  padding: 5px;
  margin: 0;
  bottom: 40px;
  background: #fff;
  border: 1px solid #000;
  width: 130px;
  box-sizing: border-box;
  display: none;
}
.memo__font .drop-menu.active {
  display: block;
}
.memo__font .drop-menu > li {
  cursor: pointer;
}
.memo__color {
  display: flex;
}
.memo__color .color-item__1 {
  background-color: #FFF8D1;
  border-top: 4px solid #f0da60;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}
.memo__color .color-item__1 > input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.memo__color .color-item__1 > input:checked ~ .checkmaker::after {
  display: inline-block;
}
.memo__color .color-item__1 .checkmaker {
  width: 30px;
  height: 30px;
}
.memo__color .color-item__1 .checkmaker::after {
  content: "✔️";
  font-size: 20px;
  display: none;
}
.memo__color .color-item__2 {
  background-color: #FFDBAB;
  border-top: 4px solid #fdbb5d;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}
.memo__color .color-item__2 > input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.memo__color .color-item__2 > input:checked ~ .checkmaker::after {
  display: inline-block;
}
.memo__color .color-item__2 .checkmaker {
  width: 30px;
  height: 30px;
}
.memo__color .color-item__2 .checkmaker::after {
  content: "✔️";
  font-size: 20px;
  display: none;
}
.memo__color .color-item__3 {
  background-color: #FDD4E2;
  border-top: 4px solid #fe9abc;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}
.memo__color .color-item__3 > input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.memo__color .color-item__3 > input:checked ~ .checkmaker::after {
  display: inline-block;
}
.memo__color .color-item__3 .checkmaker {
  width: 30px;
  height: 30px;
}
.memo__color .color-item__3 .checkmaker::after {
  content: "✔️";
  font-size: 20px;
  display: none;
}
.memo__color .color-item__4 {
  background-color: #D8DBFF;
  border-top: 4px solid #939bff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}
.memo__color .color-item__4 > input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.memo__color .color-item__4 > input:checked ~ .checkmaker::after {
  display: inline-block;
}
.memo__color .color-item__4 .checkmaker {
  width: 30px;
  height: 30px;
}
.memo__color .color-item__4 .checkmaker::after {
  content: "✔️";
  font-size: 20px;
  display: none;
}
.memo__color .color-item__5 {
  background-color: #b2ddff;
  border-top: 4px solid #939bff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}
.memo__color .color-item__5 > input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.memo__color .color-item__5 > input:checked ~ .checkmaker::after {
  display: inline-block;
}
.memo__color .color-item__5 .checkmaker {
  width: 30px;
  height: 30px;
}
.memo__color .color-item__5 .checkmaker::after {
  content: "✔️";
  font-size: 20px;
  display: none;
}
.memo__color .color-item__6 {
  background-color: #b3ece6;
  border-top: 4px solid #70d4c8;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}
.memo__color .color-item__6 > input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.memo__color .color-item__6 > input:checked ~ .checkmaker::after {
  display: inline-block;
}
.memo__color .color-item__6 .checkmaker {
  width: 30px;
  height: 30px;
}
.memo__color .color-item__6 .checkmaker::after {
  content: "✔️";
  font-size: 20px;
  display: none;
}/*# sourceMappingURL=style.css.map */