$bg-color: (#FFF8D1:#f0da60, #FFDBAB:#fdbb5d, #FDD4E2:#fe9abc, #D8DBFF:#939bff, #b2ddff:#939bff, #b3ece6:#70d4c8);
body {margin: 0;padding: 0;}
li {list-style: none;}
.main {width: 100%;height: 100vh;overflow: hidden;
    &__add-btn {margin: 0 auto;display: block;width: 50px;height: 50px;background-color: aquamarine;border-radius: 50%;border: none;}
}
.container {width: 100%;height: 92%;position: relative;}
.memo {position: absolute;resize: both;min-width: 500px;min-height: 300px;border: 1px solid #000;box-sizing: border-box;
    &__container {height: 100%;
        &--option {position: absolute;display: flex;justify-content: space-around;align-items: center;bottom: 0;width: 100%;background: #fff;padding: 5px 0;opacity: 0;transition: all 0.3s;
            &:hover {opacity: 1}
        }
    }
    &__header {background: #fff;cursor: move;display: flex;justify-content: space-between;align-items: center;border-bottom: 1px solid #000;height: 50px;}
    &__body {height: calc(100% - 51px);}
    &__text {resize: none;width: 100%;height: 100%;box-sizing: border-box;border: none;background-color: bisque;}
    &__extend {position: absolute;margin: -15px;bottom: 0px;right: 0px;border-radius: 50%;cursor: nw-resize;width: 30px;height: 30px;background-color: black;opacity: 0;transition: all 0.3s;z-index: 1;
        &:hover {opacity: 1}
        &.show {opacity: 1;}
    }
    &__font {position: relative;
        .font-btn {width: 130px;background: #fff;border: 1px solid #000;height: 40px;}
        .drop-menu {position: absolute;padding: 5px;margin: 0;bottom: 40px;background: #fff;border: 1px solid #000;width: 130px;box-sizing: border-box;display: none;
            &.active {display: block;}
            & > li {cursor: pointer;}
        }
    }
    &__color {
        @each $color, $border in $bg-color {
            $color-key : map-keys($bg-color);
            $i : index($color-key, $color);
            .color-item__#{$i} {background-color: $color;border-top: 4px solid $border;width: 50px;height: 50px;display: inline-block;
                // & > input {display: none;}
            }
        }
        
    }
}