.contents {position: relative;
    .student_seat__wrap{display: grid;grid-template-columns: repeat(4, 1fr);gap: 10px;}
    .student_seat {border: 1px solid #000;}
    .shuffle_btn {display: none;}
}
.modal {width: 100%;margin: 0 auto;background-color: rgba(0,0,0,0.7);height: 100%;position: absolute;top: 0;left: 0;display: none;
    &.show {display: block;}
    &_wrap {background: #fff;opacity: 1;width: 500px;height: auto;max-height: 400px;overflow: auto;margin: 0 auto;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);padding: 30px;box-sizing: border-box;}
}