p{margin: 0; padding:0;}
#main {display: grid;gap: 10px;grid-template-columns: repeat(4, 1fr);background: lightcoral;padding:20px;
    .draggable {border: 1px solid #666;background-color: #fff;padding: 10px;border-radius: 15px;cursor: pointer;
        &.dragging {}
        &.invisible{visibility: hidden;}
    }
}