* {margin: 0;padding: 0;}
li {list-style: none;}
.main {width: 900px;margin: 0 auto;
    &__btn {display: flex;justify-content: space-between;}
}
.container {display: flex;justify-content: space-between;margin-top: 20px;
    & > div {width: 45%;}
    .todo {border: 1px solid #000;
        &__tit {display: inline-block;position: relative;
            &::after {display: block;content: "";width: 100%;height: 10px;background-color: aquamarine;opacity: .4;position: absolute;bottom: 0;z-index: -1;}
        }
        &__default {padding: 20px;
            &.none {display: hide;}
        }
        &__list{padding: 15px;
            & > li {display: flex;justify-content: space-between;align-items: flex-start;border-bottom: 1px solid #eee;padding: 20px 0;}
        }
        &__btn {padding-bottom: 5px;text-align: end;
            & > button {background: none;border: none;}
        }
        &__date {border-radius: 20px;background-color: aquamarine;padding: 8px;
            &--start-hide, &--end-hide {display: none;}
        }
         &__rating {
            .clicked {color: red;}
            &--hide {display: none;}
        }
   
    }
}
.modal {width: 100%;margin: 0 auto;background-color: rgba(0,0,0,0.7);height: 100%;position: absolute;top: 0;left: 0;display: none;
    &.show {display: block;}
    input[type='date'] {width: 150px;
        &::before {content: attr(data-placeholder);width: 100%;}
    }
    &__wrap {background: #fff;opacity: 1;width: 500px;height: auto;max-height: 400px;overflow: auto;margin: 0 auto;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);padding: 30px;box-sizing: border-box;}
    &__rating {
        span {cursor: pointer;}
        .clicked {color: red;}
    }
    .complete-todo {padding: 10px;border-bottom: 1px solid #eee;}
}