* {margin: 0;padding: 0;}
li {list-style: none;}
.main {width: 900px;}
.container {display: flex;justify-content: space-around;
    & > div {width: 45%;}
    .todo-wrap {border: 1px solid #000;
        h2 {display: inline-block;position: relative;
            &::after {display: block;content: "";width: 100%;height: 10px;background-color: aquamarine;opacity: .4;position: absolute;bottom: 0;z-index: -1;}
        }
        .todo-list, .undo-list, .havetodo-list {padding: 15px;
            & > li {display: flex;justify-content: space-between;align-items: flex-start;border-bottom: 1px solid #eee;margin: 10px 0;padding: 10px 0;}
        }
        .tit-input, .cont-input {display: none;}
        .btn {padding-bottom: 5px;text-align: end;
            & > button {background: none;border: none;}
        }
        .date {border-radius: 20px;background-color: aquamarine;padding: 8px;}
        .rating-view {
            .clicked {color: red;}
        }
   
    }
}
.modal {width: 100%;margin: 0 auto;background-color: rgba(0,0,0,0.7);height: 100%;position: absolute;top: 0;left: 0;display: none;
    input[type='date'] {width: 200px;}
    .date::before {content: attr(data-placeholder);width: 100%;}
    &.show {display: block;}
    &__wrap {background: #fff;opacity: 1;width: 500px;height: auto;max-height: 400px;overflow: auto;margin: 0 auto;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);padding: 30px;box-sizing: border-box;}
    .rating {
        span {cursor: pointer;}
        .clicked {color: red;}
    }
}