.container {width: 700px;margin: 0 auto;position: relative;}
.topbtn {display: flex;justify-content: space-between;
}
.time_view {font-size: 8em;text-align: center;margin: 200px 0;}
.bottombtn {text-align: center;
    & > button {border-radius: 50%;background: none;border: 1px solid #000;width: 40px;height: 40px;
        &:active {background-color: aquamarine;}
    }
}
.modal {width: 700px;margin: 0 auto;background-color: rgba(0,0,0,0.7);height: 100%;position: absolute;top: 0;left: 0;display: none;
    &.show {display: block;}
    &_wrap {background: #fff;opacity: 1;width: 500px;height: auto;max-height: 400px;overflow: auto;margin: 0 auto;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);padding: 30px;box-sizing: border-box;}
    &_inner{
        .time_btn {margin-bottom: 20px;text-align: end;}
        .time_input {display: flex;justify-content: space-around;margin-bottom: 50px;
            & > span {display: flex;align-items: flex-end;flex-direction: column;
                & > input {width: 140px;}
            }
        }
        .time_tit {display: flex;align-items: flex-start;flex-direction: column;
            & > input {width: 100%;}
        }
        .submit_btn {margin-top: 30px;}
    }
    input {background: #666565;border: none;color: #fff;padding: 10px;box-sizing: border-box;border-radius: 10px;}
}